body {
  font-family: Arial;
  text-align: center;
  background: #2B2A30;
  color: #ffffff;
  padding: 0 5%;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  max-width: 612px;
}
